<div
  class="modal modal-xl fade"
  id="modal-{{ task.id }}"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h5 text-light">{{ task.title }}</p>
        <button
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <p>Description:</p>
        <p class="fw-semibold">{{ task.description }}</p>
        <p>
          Made by:
          <span class="fw-semibold"
            >{% if current_user.id == task.user_id %} You {% else %} {{
            User.query.filter_by(id=task.user_id).first().username }} {% endif
            %}</span
          >
        </p>
        <p>
          Created at:
          <span class="fw-semibold"
            >{{ task.created_at.strftime("%I:%M %p, %d-%m-%Y") }}</span
          >
        </p>
        {% if not Progress.query.filter_by(user_id=current_user.id,
        task_id=task.id).first() %}
        <a
          class="btn btn-outline-secondary"
          href="{{ url_for('scanner', id=task.id) }}"
          >Open Scanner
        </a>
        {% else %}
        <button class="btn btn-success">Task complete</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
