{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
head_extra %}
<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="cover-container p-1">
    <main class="px-3 text-center d-flex w-100 h-100 p-4 mx-auto flex-column">
      <h1>Welcome to GNGC Scavenger Hunt</h1>
      <p class="lead">
        Welcome to GNGC Scavenger Hunt, your social platform to hunt with
        friends and share moments!
      </p>
      <p class="lead">
        <a
          href="{{ url_for('auth.register') }}"
          class="btn btn-lg btn-light fw-semibold"
          >Click here to create an account</a
        >
      </p>
    </main>
  </div>
</div>
{% endblock %}
