{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
  <nav class="mt-3">
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-all-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-all"
        type="button"
        role="tab"
        aria-controls="nav-all"
        aria-selected="true"
      >
        All tasks
      </button>
      <button
        class="nav-link"
        id="nav-incomplete-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-incomplete"
        type="button"
        role="tab"
        aria-controls="nav-incomplete"
        aria-selected="false"
      >
        Incomplete tasks
      </button>
      <button
        class="nav-link"
        id="nav-complete-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-complete"
        type="button"
        role="tab"
        aria-controls="nav-complete"
        aria-selected="false"
      >
        Completed tasks
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-all"
      role="tabpanel"
      aria-labelledby="nav-all-tab"
    >
      {% for task in tasks %} {% include 'task.html' %} {% endfor %} {% if tasks
      == [] %}
      <p>Nothing to see here</p>
      {% endif %}
    </div>
    <div class="tab-pane fade" id="nav-incomplete" role="tabpanel">
      {% for task in tasks %} {% if not
      Progress.query.filter_by(user_id=current_user.id, task_id=task.id).first()
      %} {% set no_incomplete = False %} {% include 'task.html' %} {% endif %}
      {% endfor %}
    </div>
    <div
      class="tab-pane fade"
      id="nav-complete"
      role="tabpanel"
      aria-labelledby="nav-complete-tab"
    >
      {% for task in tasks %} {% if
      Progress.query.filter_by(user_id=current_user.id, task_id=task.id).first()
      %} {% set no_complete = False %} {% include 'task.html' %} {% endif %} {%
      endfor %}
    </div>
  </div>
</div>

<div>{% for task in tasks %} {% include 'modal.html' %} {% endfor %}</div>
{% endblock %}
